.env
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
venv/
*.pyc

gitconfig
[credential]
    helper = store

[url "https://teamN:YOUR_PRIVET_TOKEN@git.klsh.ru/"]
	insteadOf = https://git.klsh.ru/

[url "https://teamN:YOUR_PRIVATE_TOKEN@git.klsh.ru/"]
	insteadOf = git@git.klsh.ru: